.sidebar--listado {
  max-width: 300px;
  padding: 20px;
  @include caja();

  h3 {
    margin-bottom: 30px;
    @include titulos($Fuente2);
    @include font-size(20px);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid get-opacity($color-primario, .4);
  }
  a {
    display: flex;
    padding: 10px 20px;
    color: $color-primario;
  }
  &__numero {
    margin-right: 20px;
    color: get-opacity($color-primario, .4);
  }
}