.content {
  display: flex;
}

.menu {
  width: 350px;
  padding: 60px;
  background-color: #EEF1F7;
  text-transform: uppercase;
}

.menu__title {
  margin: 15px 0 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.menu .menu__enlaces{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu .menu__enlaces li {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #314f9c;
}

main {
  padding: 60px 100px;
}