.contenido
  contenedor()
  margin-bottom 40px

.caja
  box()

  &__imagen
    img
      width 100%
      height: 250px
      border-radius 10px 10px 0 0
  
  &__contenido
    padding 20px
    background-color light-color

    span
      titles(font-two)
      color secondary-color

    h3
      titles(font-two)