.contenido
  contenedor()
  margin-bottom 40px

.caja 
  max-width 430px
  margin 0 10px
  border-radius 10px
  shadow()
  
  &__contenido
    padding 20px
    background-color light-color

    span
      text-transform uppercase
      color secondary-color
      font-family font-two

    h3
      text-transform uppercase
      font-family font-two
      font-weight normal