.encabezado--con-filtros
  contenedor()

  h2
    margin-top 10px
    font-family font-two
    font-size 50px
    font-weight 500
    text-transform uppercase

  .filtros
    width 250px
    height 75px
    padding 20px
    margin-left auto
    shadow()

    span
      font-family font-two
      text-transform uppercase

    a
      margin-left 20px
      font-size 25px
      color primary-color
