.encabezado--con-filtros
  contenedor()

  h2
    margin-top 10px
    font-size 50px
    font-weight 500
    titles(font-two)

  .filtros
    display flex
    width 250px
    height 75px
    padding 20px
    margin-left auto
    justify-content space-evenly
    align-items center
    shadow()

    span
      titles(font-two)

    a
      font-size 25px
      color primary-color
