// VARIABLES

// COLORS
primary-color = #333333
secondary-color = #8841DA
light-color = #FFFFFF

// FONTS
font-one = 'Lato', sans-serif
font-two = 'Oswald', sans-serif

// MIXINS
contenedor()
  display flex
  width 90%
  margin 0 auto
  padding 30px 0
  justify-content space-evenly

shadow()
  background-color light-color
  box-shadow 0 20px 33px 0 rgba(0,0,0,0.2)

// FUNCTIONS
opacity(color, opacity)
  alpha(color, opacity)
* 
  box-sizing border-box

body
  margin 0
  font-family font-one
  color primary-color
