.contenido--news
  @extend .contenido

.news
  box()

  &__content
    padding 20px

    span
      titles(font-two)
      color secondary-color

    a
      text-decoration none

    h3
      titles(font-two)
      color primary-color