// VARIABLES
$font-one: 'Lato', sans-serif;
$font-two: 'Oswald', sans-serif;

// Colors
$primary-color: #333333;
$secondary-color: #8841DA;
$light-color: #FFFFFF;
$aux-color: #3f579a;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-one;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.perfil {
  width: 50%;
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
  background-color: $secondary-color;
  color: $light-color;

  // ANIDACIÓN
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  &__nombre {
    font-family: $font-two;
    font-size: 20px;
  }
  &__titulo {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding-top: 10px;
    border-radius: 20px;
    font-family: $font-two;
    text-decoration: none;
    color: $light-color;
  }
}

.estadistica--perfil {
  display: flex;
  width: 60%;
  height: 90px;
  margin: 0 auto;
  // padding-top: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: $light-color;
  border-radius: 20px;

  font-family: $font-two;
  text-transform: uppercase;
  color: $primary-color;

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  span {
    font-size: 12px;
  }
}
