-var title = 'Título Principal';
-var subtitulos = ['Subtítulo 1', 'Subtítulo 2', 'Subtítulo 3'];
-var enlaces = ['Acerca', 'Noticias', 'Contacto'];
-var buttons = ['Registro', 'Leer más'];
-var user = 'Duvan';
mixin caja (imagen, titulo)
  .caja
        .caja__imagen: img(src="./images/" + imagen)
        .caja__contenido
          h3 #{titulo}
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem sunt ipsam unde, vel eligendi ullam, repellat eos soluta sed possimus exercitationem a harum inventore amet, voluptatem dolorum! Dignissimos, iste!