@use './index' as *;

.articulos {
  width: 50%;
  padding-top: 50px;
  padding-left: 75px;
  
  @if $dark-mode {
    background-color: $primary-color;
    color: $light-color;
  }
}

.articulo {
  margin-bottom: 50px;
  padding-right: 50px;
  border-bottom: 3px solid $secondary-color;

  &__categoria {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: $secondary-color;
    @include titles($font-two);
  }

  &__titulo {
    font-size: 20px;
    text-transform: uppercase;
    @include titles($font-two);
  }

  &__descripcion {
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
