@use './index' as *;

.galeria {
  display: flex;
  width: 60%;
  height: 250px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  justify-content: space-evenly;
  @include box;

  h2 {
    margin-bottom: 10px;
    font-family: $font-two;
    font-size: 20px;
    font-weight: 600;
  }

  &__foto-principal {
    float: left;
    margin-right: 10px;
  }

  &__fotos-adicionales img {
    height: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  img {
    border-radius: 10px;
  }
}