@use './index' as *;
// @use is new in Dart Sass 1.23.0. View more details at https://sass-lang.com/documentation/at-rules/use
// En index.scss se importan todos at-rules y se exportan todos los componentes con use

.perfil {
  width: 100%;
  padding-top: 50px;
  background-color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  color: $light-color;

  // ANIDACIÓN
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  &__nombre {
    @include titles($font-two);
  }
  &__titulo {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: get-opacity($light-color, 0.5);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    padding-top: 5px;
    border: 2px solid get-opacity($light-color, 0.8);
    border-radius: 20px;
    background-color: get-opacity($primary-color, 0.4);
    text-decoration: none;
    color: $light-color;
    @include titles($font-one);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;

  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
