@use './index' as *;

.estadistica--perfil {
  display: flex;
  width: 60%;
  height: 90px;
  margin: 0 auto;
  // padding-top: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: $light-color;
  border-radius: 20px;

  font-family: $font-two;
  color: $primary-color;

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  span {
    font-size: 12px;
  }
}
