h3 {
  font-size: 20px;
  margin: 0;
}
h2 {
  font-size: 25px;
  margin: 0;
}
h1 {
  font-size: 30px;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}
.buscador {
  width: 100%;
  height: 250px;
  padding: 100px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  text-align: center;
}
.buscador form {
  margin: 0px;
}
.buscador__input {
  width: 75%;
  height: 50px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  font-size: 25px;
}
.buscador__input:focus {
  outline: none;
}
.encabezado--con-filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.encabezado--con-filtros h2 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 75px;
  padding: 20px;
  margin-left: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
          box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
}
.encabezado--con-filtros .filtros span {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros a {
  font-size: 25px;
  color: #333;
}
.contenido,
.contenido--news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
}
.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
          box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
}
.caja__imagen img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
.caja__contenido {
  padding: 20px;
  background-color: #fff;
}
.caja__contenido span {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #8841da;
}
.caja__contenido h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.estadistica--articulos {
  height: 70px;
  padding: 20px;
  border-top: 1px solid rgba(51,51,51,0.2);
}
.estadistica--articulos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgba(51,51,51,0.4);
}
.estadistica--articulos ul li {
  list-style: none;
}
.estadistica--articulos ul li span {
  margin: 10px;
}
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
          box-shadow: 0 20px 33px 0 rgba(0,0,0,0.2);
}
.news__content {
  padding: 20px;
}
.news__content span {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #8841da;
}
.news__content a {
  text-decoration: none;
}
.news__content h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}
