// MODULARIZACIÓN
@import './components/global.styl'
@import './components/seeker.styl'
@import './components/filters.styl'
@import './components/boxes.styl'
@import './components/statistics.styl'
@import './components/news.styl'